@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: #ddd; 
}

/*
//#cfd2d8
//#dbdde1
*/
.bg-secondary{
    background-color: #acabb4;
}

.bg-gradient {
    background: linear-gradient(to right,#d2d4d8, #96a8b6);
    /* background: #d2d2d2; */
}

.text-primary {
    color: #303030;
}